<section class="d-flex flex-wrap reservedCardWrapper">
  <% @calendars.each do |c| %>
    <section class="text-center m-2 reservedCard" style="width: 50%;" >
      <div class="card-img-top">
        <p> <%= c.day %> <%= c.date%></p>
      </div>
      <div class="card-body">
      <p class="card-text">Start: <%= c.start_time %></p><p class="">End:<%= c.end_time %></p>
      </div>
      <div> <%= link_to 'Cancel reservation', reservation_path(c.reservation.id),class:'btn cancelReservation', method: :delete%> </div>
    </section>
  <% end %>
</section>
