<h1 class="text-center"><%= "#{@day} #{@date}" %></h1>
<% while @open <= @close do %>
  <div class="d-flex w-30 bg-danger flex-wrap p-1 my-2">
    <div class="w-50 text-center"><%="#{@open}-#{@open+3600}"%></div>
    <% if not_reserved? @date, @open.strftime("%H:%M")%>

      <%= render 'reserve_form',
      date: @date, day: @day, start_time:@open.strftime("%H:%M"),
      end_time:(@open+3600).strftime("%H:%M")  %>
      
    <% else %>
      <%@calendar = find @date, @open.strftime("%H:%M") %>
      <% if can? :delete, Calendar, user:current_user %>
          <div class="w-50">
            <%= link_to 'Cancel reservation', reservation_path(@calendar.reservation.id),class:'btn btn-primary', method: :delete%>
          </div>
        <% end %>
      <div>   
        <%= @calendar.user.email %>
      </div>
    <% end %>
  </div>
    <%@open+= 3600%>
<% end %>
